 <build>
    ...
    <resources>
      <resource>
        <directory>src/main/my-docker-app</directory>  <!-- re-define the default since an explicit
                                                        <resources> declaration overwrites it -->
      </resource>
      <resource>
        <directory>src/main/my-docker-app/WEB-INF</directory>  <!-- contains web.xml, for example -->
        <filtering>true</filtering>
      </resource>
      ...
    </resources>
    ...
  </build>
